body {
    background-color: black;
    margin: 0; /* Ajout pour supprimer la marge par défaut du body */
    /* background-image: url("/images/coverPng.png");
    background-repeat: no-repeat; */
    
}

header {
    background-color: burlywood;
    display: flex;
    justify-content: space-between; /* Répartit l'espace entre les éléments */
    align-items: center;
    padding-left: 0.5vw;
    width: 100%;
    position: fixed;
    top: 0;

} 

.titre {
    display: flex;
    border-right: 0.1vw solid ;
    padding-right: 1.5vw;
}


.indexMain{
    display: flex;
    align-items: center;
}

.indexImg{
    display: flex;
    height: 30vw;
    width: 30vw;
}
.pAccueil{
    color: white;
    font-size: 5vw;
    text-shadow: 0.5vw 0.5vw 0.5vw whitesmoke;
    
}

a {
    text-decoration: none;
    
}


.navigation ul {
    display: flex;
    /* background-color: aquamarine; */
    
}

.navigation ul li {
    list-style: none;
    padding: 1.5vw;
    border-right: 0.1vw solid;
    /* justify-content: center;
    text-align: center; */
    
}


select{
    
    background-color: burlywood;
    border: none;
    padding: 1.5vw;
    border-right: 0.1vw solid;
    
}

.login div {
    display: flex;
    margin-right: 2vw;
    
    
}

.login div a:nth-of-type(1){
    border-right: 0.1vw solid;
    padding-right: 1vw;
}


.login a {
    margin-right: 1vw;
    
}



.divLogin {
    background-color: #f4f4f4;
    padding: 5px;
    border-radius: 2vw;
    width: 50%;
    height: 50%;
    /* justify-content: center;
    align-items: center; */
    text-align: center;
    box-shadow: 0 0 40px white;
    
    }


form {
    display: flex;
    flex-direction: column;
    
    /* justify-content: center;
    align-items: center; */
}

form div{
    margin: 1%;
}


input{
    border-radius: 5vw;
}

button{
    border: solid 2px;
    border-radius:1vw;
}
    
.mainLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46vw;
}



.mainCatalogue{
    display:flex;
    margin-top: 10vw;
    flex-wrap: wrap;
    justify-content: center;
    
}


.manga{
    display: flex;
    margin: 1vw;
    border: solid 0.1vw brown;
    border-radius: 4vw;
    background-color: burlywood;
    width: 15vw;
    height: 20vw;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    
}

.labelManga{
    background-color: burlywood;
    border-bottom: 0.1vw solid brown;
    border-radius: 6vw;
    text-align: center;
    margin-top: 2vw;
    width: 90%;
    height: 2vw;
    align-items: flex-start;
    margin-left: 0.75vw;
    
    
}


.mangaImg{
    border-radius: 2vw 2vw  4vw 4vw;  
    height: 100%;
    width: 100%;
    
    }


footer {
    display: flex;
    background-color: bisque;
    margin-top: 20px; /* Ajout d'une marge en haut pour éviter le chevauchement */
    justify-content: center;
        
}


footer a{
    flex: auto;
    border-left: 0.1vw solid black;
    padding-left: 2vw;
}


@media  (max-width:380px) {

    header{
        position: fixed;
        top: 0;
    }
    
    header nav{
        display: flex;
        height: 5vw;
        width: 5vw;
    }

    select{
        height: 5vw;
        width: 5vw;
    }

    #indexImg{
        height: 100%;
        width: 100%;
    }


    form{
        display: flex;
        height: 5vw;
        width: 5vw;
    }

    footer{
        display: flex;
        justify-content: center;
    }
}