<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogue</title>
    <link href="/manga-CSS/style.css" rel="stylesheet">
</head>

<body>
    
    <header>

        <div class="titre">
            <h1><a href="/templates/accueil.html">Manga free</a></h1>
        </div>   
        
        <div class="navigation"> 
            <nav>
                <ul>
                    <li><a href="/templates/catalogue.html">Catalogue Manga</a></li>
                    <li><a href="">News</a></li>
                </ul>                    
                
                <select id="categories">
                    <option value="Catégories" selected>Catégories :</option>
                    <option value="action">Action</option>
                    <option value="action">Aventure</option>
                    <option value="drame">Drame</option>
                    <option value="seinen">Seinen</option>
                    <option value="shonen">Shonen</option>
                    <option value="sport">Sport</option>
                </select>
            </nav>
        </div>


        <div class="login">
            <div>
                <a href="/templates/login.html">Compte</a>
                <a href="/templates/inscription.html">Inscription</a>
            </div>
        </div>
    </header>



    <main class="mainCatalogue">

        <a href="">
            <div class="manga">
                <p class="labelManga"> Dragon ball</p>
                <img src="/images/dragonBall-img.jpg" class="mangaImg" alt="Image du meilleur manga all time">
            </div>
        </a>

        <a href="">
            <div class="manga">
                <p class="labelManga"> Hunter x Hunter</p>
                <img src="/images/hunterXhunter-img.webp" class="mangaImg" alt="Hunter x Hunter cover">
            </div>
        </a>

        <a href="#">
            <div class="manga">
                <p class="labelManga"> Naruto</p>
                <img src="/images/naruto-img.webp" class="mangaImg" alt="Naruto cover">
            </div>
        </a>

        <a href="">
            <div class="manga">
                <p class="labelManga"> One Piece</p>
                <img src="/images/onePiece-img.jpg" class="mangaImg" alt="One Piece cover">
            </div>
        </a>

        <a href="">
            <div class="manga">
                <p class="labelManga"> Death note</p>
                <img src="/images/deathNote-img.jpg" class="mangaImg" alt="Death Note cover">
            </div>
        </a>

        <a href="">
            <div class="manga">
                <p class="labelManga"> L'attaque des titans</p>
                <img src="/images/SNK-img.webp" class="mangaImg" alt="L'attaque des titans cover">
            </div>
        </a>

        <a href="">
            <div class="manga">
                <p class="labelManga"> Demon slayer</p>
                <img src="/images/demonSlayer-img.jpg" class="mangaImg" alt="Demon slayer cover">
            </div>
        </a>

        <a href="">
            <div class="manga">
                <p class="labelManga"> Steins gate</p>
                <img src="/images/steinsGate-img.webp" class="mangaImg" alt="Steins Gate cover">
            </div>
        </a>
        
        <a href="">
            <div class="manga">
                <p class="labelManga"> Dororo</p>
                <img src="/images/dororo-img.webp" class="mangaImg" alt="Dororo cover">
            </div>
        </a>

        <a href="">
            <div class="manga">
                <p class="labelManga"> Code geass</p>
                <img src="/images/codeGeass-img.jpg" class="mangaImg" alt="Code Geass cover">
            </div>
        </a>

        <a href="">
            <div class="manga">
                <p class="labelManga"> Jujutsu kaisen</p>
                <img src="/images/jujutsuKaisen-img.webp" class="mangaImg" alt="Jujutsu Kaisen cover">
            </div>
        </a>

        <a href="">
            <div class="manga">
                <p class="labelManga"> Eyeshield 21</p>
                <img src="/images/eyeshield21-img.jpg" class="mangaImg" alt="Eyeshiel 21 cover">
            </div>
        </a>

        <a href="">
            <div class="manga">
                <p class="labelManga"> Fairy tail</p>
                <img src="/images/fairyTail-img.jpg" class="mangaImg" alt="Fairy Tail cover">
            </div>
        </a>

        <a href="">
            <div class="manga">
                <p class="labelManga"> Ranking of king</p>
                <img src="/images/rankingOfKings-img.webp" class="mangaImg" alt="Ranking of Kings cover">
            </div>
        </a>

        <a href="">
            <div class="manga">
                <p class="labelManga"> Parasyte</p>
                <img src="/images/parasyte-img.jpg" class="mangaImg" alt="Parasyte cover">
            </div>
        </a>

    </main>


    <footer>
        <a href="mailto:manga@manga.fr">manga@manga.fr</a>
        <a href="https://twitter.com/" target="_blank">Tiwtter</a>
        <a href="https://instagram.com/" target="_blank">Instagram</a>
    </footer>
</body>
</html>

