<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loging</title>
    <link href="/manga-CSS/style.css" rel="stylesheet">
</head>

<body>
    
    <header>

        <div class="titre">
            <h1><a href="/templates/accueil.html">Manga free</a></h1>
        </div>   
        
        <div class="navigation"> 
            <nav>
                <ul>
                    <li><a href="/templates/catalogue.html">Catalogue Manga</a></li>


                    
                    <!-- <li><a href="">Catégories</a></li> -->
                    <li><a href="">News</a></li>
                    <!-- <li><a href="">Element 4</a></li> -->
                </ul>                    
                
                
                <select id="categories">
                    <option value="Catégories" selected>Catégories :</option>
                    <option value="action">Action</option>
                    <option value="action">Aventure</option>
                    <option value="drame">Drame</option>
                    <option value="seinen">Seinen</option>
                    <option value="shonen">Shonen</option>
                    <option value="sport">Sport</option>
                </select>

            </nav>
        </div>

        <div class="login">
            <div>
                <a href="/templates/login.html">Compte</a>
                <a href="/templates/inscription.html">Inscription</a>
            </div>
        </div>
   
    </header>



    <main class="mainLogin">

        <div class="divLogin">
            <h2> Connexion : </h2>

            <form>

                <div>
                    <label for="username">Adresse email :</label>
                    <input type="text" id="username" name="username" required>
                </div>

                <div>
                    <label for="password">Mot de passe :</label>
                    <input type="password" id="password" name="password" required>
                </div>

                <div>
                    <button type="submit">Se connecter</button>
                </div>

            </form>

        </div>

    </main>


    <footer>
        <a href="mailto:manga@manga.fr">manga@manga.fr</a>
        <a href="https://twitter.com/" target="_blank">Tiwtter</a>
        <a href="https://instagram.com/" target="_blank">Instagram</a>
    </footer>

</body>
</html>

